@{
    ViewData["Title"] = "Admin";
}
<div class="container-fluid" style="margin-top: 15px">
    <div class="row">
        <div class="d-grid gap-2 col-3 mx-auto">
        <a asp-controller="Admin" asp-action="Add" class="btn btn-success">Добавить статью</a>
        <a asp-controller="Users" asp-action="User" class="btn btn-success">Пользователи</a>
        </div>
    </div>
</div>
<div class="container-fluid container-xxl">
    @{

        foreach (var item in Model)
        {
            int kol = item.Text.Lenght - 40;
            <div class="card" style="margin-top: 15px">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title">@item.Header</h5>
                                    <div class="col-5 col-xxl-2 col-xl-2 col-lg-2 col-">
                                        <img src="~/images/1.jpg" class="rounded float-start" alt="Sample Photo" width="150px" />
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text">@item.Text.Substring(0,item.Text-kol)</p>
                                        <a asp-controller="Home" asp-action="Article" asp-route-id="@item.Id" class="btn btn-primary">Go somewhere</a>
                                        <a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Изменить</a>
                                        <a asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
        }
    }
</div>